@keyframes cuIcon-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.cuIconfont-spin {
	-webkit-animation: cuIcon-spin 2s infinite linear;
	animation: cuIcon-spin 2s infinite linear;
	display: inline-block;
}

.cuIconfont-pulse {
	-webkit-animation: cuIcon-spin 1s infinite steps(8);
	animation: cuIcon-spin 1s infinite steps(8);
	display: inline-block;
}

[class*="cuIcon-"] {
	font-family: "cuIcon";
	font-size: inherit;
	font-style: normal;
}

@font-face {
  font-family: 'cuIcon';
  src: url('//at.alicdn.com/t/font_1563314_kjbp8n7vc3.eot');
	src: url('//at.alicdn.com/t/font_1563314_kjbp8n7vc3.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_1563314_kjbp8n7vc3.woff2') format('woff2'),
	url('//at.alicdn.com/t/font_1563314_kjbp8n7vc3.woff') format('woff'),
	url('//at.alicdn.com/t/font_1563314_kjbp8n7vc3.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_1563314_kjbp8n7vc3.svg#iconfont') format('svg');
}

.cuIcon-sale:before {
	content: "\e600";
}

.cuIcon-cost:before {
	content: "\e604";
}

.cuIcon-purchase:before {
	content: "\e887";
}

.cuIcon-purchase-fill:before {
	content: "\e888";
}

.cuIcon-stock:before {
	content: "\e88f";
}

.cuIcon-stock-fill:before {
	content: "\e890";
}

.cuIcon-customer:before {
	content: "\e8a8";
}

.cuIcon-customer-fill:before {
	content: "\e8a9";
}

.cuIcon-multiple:before {
	content: "\e8b5";
}

.cuIcon-multiple-fill:before {
	content: "\e8b4";
}

.cuIcon-search:before {
	content: "\e8b8";
}

.cuIcon-home:before {
	content: "\e8ba";
}

.cuIcon-home-fill:before {
	content: "\e8b9";
}

.cuIcon-user:before {
	content: "\e8c8";
}

.cuIcon-user-fill:before {
	content: "\e8c9";
}

.cuIcon-profile:before {
	content: "\e8ca";
}

.cuIcon-add:before {
	content: "\e8e1";
}

.cuIcon-back:before {
	content: "\e8ef";
}

.cuIcon-arrow:before {
	content: "\e8f1";
}

.cuIcon-location:before {
	content: "\e8fe";
}

.cuIcon-location-fill:before {
	content: "\e8ff";
}

.cuIcon-data:before {
	content: "\e902";
}

.cuIcon-data-fill:before {
	content: "\e905";
}

.cuIcon-phone:before {
	content: "\e8bd";
}

.cuIcon-mobile:before {
	content: "\e8dc";
}

.cuIcon-product:before {
	content: "\e8a1";
}

.cuIcon-product-fill:before {
	content: "\e8a0";
}

.cuIcon-finance:before {
	content: "\e8af";
}

.cuIcon-finance-fill:before {
	content: "\e8ae";
}

.cuIcon-edit:before {
	content: "\e8cc";
}

.cuIcon-edit-fill:before {
	content: "\e8cd";
}

.cuIcon-refresh:before {
	content: "\e8fc";
}

.cuIcon-delete:before {
	content: "\e775";
}

.cuIcon-email:before {
	content: "\e60f";
}

.cuIcon-company:before {
	content: "\edb4";
}

.cuIcon-contacts:before {
	content: "\e605";
}

.cuIcon-classify:before {
	content: "\e898";
}

.cuIcon-classify-fill:before {
	content: "\e897";
}

.cuIcon-unit:before {
	content: "\e8a3";
}

.cuIcon-unit-fill:before {
	content: "\e8a2";
}

.cuIcon-receipt:before {
	content: "\e668";
}

.cuIcon-payment:before {
	content: "\e691";
}

.cuIcon-return-order:before {
	content: "\e6fe";
}






