.fill {
	width: 100%;
	height: 100%;
}
.container {
	font-size: $uni-font-size-base;
	height: 100vh;
	width: 100vw;
	.header {
		height: 10%;
	}
	.total{
		font-size: $uni-font-size-sm;
		height: 5%;
		background-color: #FFFFFF;
		 display: flex;
		 flex-direction: row;
		 justify-content: space-around;
		 padding: 12upx 0upx;
		 align-items: center;
	}
	.main {
		height: 70%;
		padding: 0;
		//margin-top: 10upx;
		.cu-form-group .title {
			min-width: calc(5em + 30px);
		}
		.main-header {
			display: flex;
			height: 140upx;
			background-color: #ffffff;
			justify-content: center;
			align-items: center;
		}
		.picker {
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
	}
	.footer {
		height: 7%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}
.uni-loadmore{
	text-align: center;
	font-size: $uni-font-size-base;
}

.no_data {
	display: flex;
	//flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: center;
	.item_img {
		width: 120rpx;
		height: 120rpx;
	}
	.item_text {
		font-size: 24rpx;
		margin-top: 100rpx;
		color: #cccccc;
	}
}
.list-header {
	    padding: 0upx 24upx;
		display: flex;
		flex-direction: row;
		font-weight: 600;
		.item-content {
			flex: 6;
			font-size: $uni-font-size-sm;
			line-height: 60upx;
		}
		.item-content2 {
			flex: 1;
			font-size: $uni-font-size-sm;
			line-height: 60upx;
		}
		.item-content3 {
			flex: 1;
			font-size: $uni-font-size-sm;
			line-height: 60upx;
		}
	}
.list-item {
	padding: 16upx 24upx;
	background: #fff;
	border-bottom: 0.8upx solid $uni-border-color;
	.list-between {
		display: flex;
		flex-direction: row;
		// justify-content: spac;
		.item-content {
			flex: 2;
			font-size: $uni-font-size-sm;
			line-height: 60upx;
		}
		.item-content2 {
			flex: 1;
			font-size: $uni-font-size-sm;
			line-height: 60upx;
		}
		.item-content3 {
			flex: 1;
			text-align: right;
			font-size: $uni-font-size-sm;
			line-height: 60upx;
		}
	}
}